<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Reserva de Canchas</title>
  
</head>

<body>

  {% include 'navbar.html' %}

  <p>En nuestra plaza contamos con  varios tipos de cancchas de tenis, invita
    a tus familiares y amigos para pasar un momento ameno y seguro al mejor precio del mercado.</p>

<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbmNNJa63f3scFS3Gvqbs0yWyO9h9Sg0Dsi-GZ5kisXVUAUjxichH5LpAy9L8R-7_uYb4&usqp=CAU" alt="Cancha">

</div>
    
 <div>
    <a href="canchas">Ver canchas</a>
 </div>

</body>
</html>
